$colors: (
        'primary':#5A9EED,
        'primary-light': #00B4ED,
        'bright_turquoise': #00C4FF,
        'turquoise_light': #F2FAFF,
        'majorelle_blue': #5342FF,
        'majorelle_light': #F6F4FF,
        'purple_blue': #9929F2,
        'purple_light': #F6EFFA,
        'strawberry_red': #FF42A3,
        'strawberry_light': #FFF4F8,
        'secondary': #76B900,
        "highlight": #FFAB00,
        "highlight-yellow": #FFEB00,
        'typoHeader': #233446,
        'typoText': #233446,
        'geyser': #D9DDE2,
        'brightGray': #ECECEE,
        'lightSilver': #D9D9D9,
        'metalicSilver': #A0ABB7,
        'blackMagna': #000C22,
        'tealishBlue': #121D32,
        'baseWhite': #FFFFFF,
        'baseBlack': #000000
);

$randomColor:(
#00B4ED,
#76B900,
#FFC345,
#FD646F,
#233446,
);

$black-shades: (
        shade-99: lighten(map_get($colors, baseBlack), 99%),
        shade-98: lighten(map_get($colors, baseBlack), 98%),
        shade-97: lighten(map_get($colors, baseBlack), 97%),
        shade-96: lighten(map_get($colors, baseBlack), 96%),
        shade-95: lighten(map_get($colors, baseBlack), 95%),
        shade-93: lighten(map_get($colors, baseBlack), 93%),
        shade-90: lighten(map_get($colors, baseBlack), 90%),
        shade-85: lighten(map_get($colors, baseBlack), 85%),
        shade-80: lighten(map_get($colors, baseBlack), 80%),
        shade-75: lighten(map_get($colors, baseBlack), 75%),
        shade-70: lighten(map_get($colors, baseBlack), 70%),
        shade-65: lighten(map_get($colors, baseBlack), 65%),
        shade-60: lighten(map_get($colors, baseBlack), 60%),
        shade-55: lighten(map_get($colors, baseBlack), 55%),
        shade-50: lighten(map_get($colors, baseBlack), 50%),
        shade-45: lighten(map_get($colors, baseBlack), 45%),
        shade-40: lighten(map_get($colors, baseBlack), 40%),
        shade-35: lighten(map_get($colors, baseBlack), 35%),
        shade-30: lighten(map_get($colors, baseBlack), 30%),
        shade-25: lighten(map_get($colors, baseBlack), 25%),
        shade-20: lighten(map_get($colors, baseBlack), 20%),
        shade-15: lighten(map_get($colors, baseBlack), 15%),
        shade-10: lighten(map_get($colors, baseBlack), 10%),
        shade-5: lighten(map_get($colors, baseBlack), 5%),
);

$base-font-path: "../fonts" !default;
$fontawesome-path: "../fontawesome/webfonts" !default;
$fonts: (
        primary: 'Roboto',
        primary-bold: 'Roboto-Bold',
        open-sans: 'Open Sans',
        open-sans-condensed: 'Open Sans Condensed',
        fa-brands:'Font Awesome 5 Brands',
        fa-regular: 'Font Awesome 5 Regular',
        fa-solid: 'Font Awesome 5 Solid',
        lineawesome: 'Line Awesome Free',
        base-font-size: 16px,
        base-line-height: 1.4em,
);
// Font weight settings
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-law:900;


// Durations
$fastDuration: .1s !default;
$mediumDuration: .3s !default;
$slowDuration: .6s !default;

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;


//Extend